@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

header, footer {
  ul {
    li {
      display: inline;
    }
  }
}

h2 {
  font-family: 'Arvo', serif;
}

#devise_navigation {
  text-align: right;
  margin: 20px;
}

#devise_navigation li {
  display: inline;
  padding: 6px;
}

#top_half {
  h2 {
    font-size: 1.4em;
    margin-bottom: 0px;
    margin-top: 0px;
    color: rgb(147, 202, 207);
  }
}

body{
  background-color: rgb(221,240,240);
}

#bottom_half {
  background-color: rgb(147,202,208)
}

#devise_navigation li:first-child {
  border-right: 2px solid black;
}

#content {
  @include grid-row();

  $left-column-size: 6;
  $right-column-size: 12 - $left-column-size;
  .left-column {
    @include grid-column($left-column-size);
  }
  .right-column {
    @include grid-column($right-column-size);
  }
}


$small-range: (0em, 30em); /* 0, 640px */
$small-only: "#{$screen} and (max-width: 40em)" !default;


#home_search {
  input {
    width: 60%;
    border-radius: 50px;
    background-image: asset-data-url('search-icon.png');
    background-repeat: no-repeat;
    background-position: 10px 50%;
    padding: 7px 5px 8px 30px;
    border: 2px solid rgb(217,138,195);
  }
  form {
    display: block;
  }
}

#main_navigation {
  @include flexbox();
  list-style: none;
  background-color: rgb(233,201,210);
  margin: 0;
  text-align:center;
  padding-top: 5px;
  font-family: 'Arvo', serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  ul {
    text-align: center;
  }
  li {
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin: 0px 3%;
  }
  a {
    color: rgb(93,28,71);
    font-size: 24px;
    display: block;
  }
}

.auction_search_search_term{
  display: inline-block;
  label {
    display: none;
  }
}

@media #{$small-only} {
  #content {
    .left-column, .right-column {
      @include grid-column(12);
    }
  }
  #page_navigation {
    ul{
      width: 90%;
      margin-left: 10%;
      margin-right: 10%;
    }
    li {
      width: 50%;
      border-radius: 0px;
    }
  }
  #main_navigation {
    li {
      width: 100%;
      border-bottom: 1px solid rgb(217,138,195);
    }
    li:nth-child(6){
      height: 10%;
      input{
        margin: auto;
      }
    }
  }
  #main_logo {
    img {
      width:80%;
    }
    #contain_h2 {
      width: 100%;
      text-align: center;
    }
  }
}

.nav_button {
  text-decoration: none;
  border-radius: 20px;
  line-height: normal;
  display: inline-block;
  width: 20%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
}

#page_navigation {
  float: right;
  margin-top: 60px;
  margin-right: 20px;
  width: 56%;
  a{
    color:white;
  }
  li:nth-child(1){
    @extend .nav_button;
    background-color: rgb(147, 202, 207);
  }
  li:nth-child(2){
    @extend .nav_button;
    background-color: rgb(153, 182, 62);
  }
  li:nth-child(3){
    @extend .nav_button;
    background-color: rgb(98, 48, 138);
  }
  li:nth-child(4){
    @extend .nav_button;
    background-color: rgb(202, 35, 137);
  }
}

#top_half_container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
  border-radius: 50px 50px 0px 0px;
  width: 80%;
}

#bottom_half_container {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 50px 50px;
  width: 80%;
}

#main_logo {
  position: relative;
  top: -28px;
  display: inline;
  img {
    width: 40%;
  }
}

#child_images {
  padding-top :15px;
  padding-bottom :15px;
  img {
    margin: 6px;
  }
  margin-bottom: 10%;
}

#contain_h2 {
  width: 58%;
  float: right;
}

.clear {
  clear: both;
  width: 100%;
}

#content {
  h2 {
    font-size: 1.6em;
    color: rgb(162, 180, 63);
  }
  h3 {
    font-size: 1.1em;
    color: rgb(155,198, 204);
    float: right;
  }
}

#shop_now a{
  background-color: rgb(172, 48, 135);
  border: none;
  border-radius: 50px;
  float: right;
}
